section#matches-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

section#matches-container strong {
    font-size: 22px;
}

section#matches-container img#open-form {
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 20;
}

section#matches-container img#open-form:hover {
    cursor: pointer;
}

form#match-registration-form {
    width: 60%;
    height: 85%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
    grid-template-rows: repeat(11, 1fr);
}

form#match-registration-form img#close-form {
    width: 35px;
    height: 35px;
    grid-column: 4;
    grid-row: 1;
    align-self: end;
    justify-self: end;
    margin-right: 15px;
}

form#match-registration-form img#close-form {
  cursor: pointer;
}

form#match-registration-form h1 {
    grid-column: 2 / 4;
    grid-row: 2;
}

form#match-registration-form input, select {
    width: 95%;
    height: 40px;
    text-align: center;
    justify-self: end;
}

form#match-registration-form label[for=sport] {
    grid-column: 2;
    grid-row: 4;
}

form#match-registration-form select[name=sport] {
    grid-column: 3 / 4;
    grid-row: 4;
}

form#match-registration-form label[for=match-date] {
    grid-column: 2;
    grid-row: 5;
}

form#match-registration-form input[name=match-date] {
    grid-column: 3;
    grid-row: 5;
}

form#match-registration-form label[for=start-time] {
    grid-column: 2;
    grid-row: 6;
}

form#match-registration-form input[name=start-time] {
    grid-column: 3;
    grid-row: 6;
}

form#match-registration-form label[for=end-time] {
    grid-column: 2;
    grid-row: 7;
}

form#match-registration-form input[name=end-time] {
    grid-column: 3;
    grid-row: 7;
}

form#match-registration-form label[for=price] {
    grid-column: 2;
    grid-row: 8;
}

form#match-registration-form input[name=price] {
    grid-column: 3;
    grid-row: 8;
}

form#match-registration-form input[type=submit] {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 10;
    align-self: start;
}

.match {
    width: 80%;
    height: 130px;
    grid-column: 2 / 3;
    
    border: 2px solid var(--purple-200);
    border-radius: 15px;
    background-color: lightgray;
    color: var(--purple-500);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    margin-bottom: 20px;

}

.match:hover {
    cursor: pointer;
}

.match .registered-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.match .registered-people img {
    width: 25px;
    height: 25px;
    grid-column-start: 1;
}

.match .registered-people span.participants-number {
    grid-column-start: 2;
}

.match span.place {
    grid-row-start: 1;
    grid-column-start: 2;
}

.match span.sport {
    grid-row-start: 2;
    grid-column-start: 2;
}

.match span.date {
    grid-row-start: 3;
    grid-column-start: 1;
}

.match span.time {
    grid-row-start: 3;
    grid-column-start: 2;
}

.match span.price {
    grid-row-start: 3;
    grid-column-start: 3;
}