form#athlete-registration-form {
    width: 60%;
    height: 85%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
    grid-template-rows: repeat(12, 1fr);
}

form#athlete-registration-form h1 {
    grid-column: 2 / 4;
    grid-row: 2;
}

form#athlete-registration-form input, select {
    width: 95%;
    height: 40px;
    text-align: center;
    justify-self: end;
}

form#athlete-registration-form label[for=first-name] {
    grid-column: 2;
    grid-row: 4;
}

form#athlete-registration-form input[name=first-name] {
    grid-column: 3;
    grid-row: 4;
}

form#athlete-registration-form label[for=last-name] {
    grid-column: 2;
    grid-row: 5;
}

form#athlete-registration-form input[name=last-name] {
    grid-column: 3;
    grid-row: 5;
}

form#athlete-registration-form label[for=birthdate] {
    grid-column: 2;
    grid-row: 6;
}

form#athlete-registration-form input[name=birthdate] {
    grid-column: 3;
    grid-row: 6;
}

form#athlete-registration-form label[for=email] {
    grid-column: 2;
    grid-row: 7;
}

form#athlete-registration-form input[name=email] {
    grid-column: 3;
    grid-row: 7;
}

form#athlete-registration-form label[for=username] {
    grid-column: 2;
    grid-row: 8;
}

form#athlete-registration-form input[name=username] {
    grid-column: 3;
    grid-row: 8;
}

form#athlete-registration-form label[for=password] {
    grid-column: 2;
    grid-row: 9;
}

form#athlete-registration-form input[name=password] {
    grid-column: 3;
    grid-row: 9;
}

form#athlete-registration-form input[type=submit] {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 11;
    align-self: start;
}