form#login-form {
    width: 35%;
    height: 55%;
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

form#login-form input[name=email] {
    grid-column: 2;
    grid-row: 2;
}

form#login-form input[name=password] {
    grid-column: 2;
    grid-row: 3;
}

form#login-form input[type=submit] {
    grid-column: 2;
    grid-row: 4;
}

form#login-form .forgot-password {
    grid-column: 2;
    grid-row: 5;
    align-self: start;
}

form#login-form .forgot-password a {
    display:inline-block;
    font-size: 12px;
    color: gray;
}

.forgot-password a:hover {
    text-decoration: underline;
    cursor: pointer;
}