section#matches-container {
    width: 100%;
}

section#matches-container strong {
    font-size: 22px;
}

section .match {
    width: 40%;
    height: 130px;
    margin: 2% auto;

    border: 2px solid var(--purple-200);
    border-radius: 15px;
    background-color: var(--purple-100);
    color: var(--purple-500);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

section .match:hover {
    cursor: pointer;
}

section .match .registered-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

section .match .registered-people img {
    width: 25px;
    height: 25px;
    grid-column-start: 1;
}

section .match .registered-people span.participants-number {
    grid-column-start: 2;
}

section .match span.place {
    grid-row-start: 1;
    grid-column-start: 2;
}

section .match span.sport {
    grid-row-start: 2;
    grid-column-start: 2;
}

section .match span.date {
    grid-row-start: 3;
    grid-column-start: 1;
}

section .match span.time {
    grid-row-start: 3;
    grid-column-start: 2;
}

section .match span.price {
    grid-row-start: 3;
    grid-column-start: 3;
}